:root {
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;
    --branco-font: #ffffff;   

    --font-padrao: "Inter", sans-serif;
}

* {
    font-family: var(--font-padrao);
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%) #303030;
    background-repeat: no-repeat;
    color: var(--branco-font);
}

#nav-sup {
    height: 100px;
    width: auto;
    background-color: var(--preto-dnc);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bababa;
}

    #nav-sup button {
        margin-right: 5%;
        background: var(--azul-dnc);
        box-shadow: 3px 2px 4px rgb(12, 112, 242, 0.25);
        border: none;
        width: 80px;
        height: 40px;
        color: var(--branco-font);
        cursor: pointer;
        font-weight: 600;
    }

    #nav-sup button:hover {
        transform: translateY(-2px);
    }

    #menu {
        display: flex;
        width: 100%;
    }

    #menu a {
        font-size: 25px;
        font-weight: 600;
        text-decoration: none;
        margin-left: 2%;
        color: var(--branco-font);
    }

    #menu a:hover {
        color: var(--cinza-hover);
        transform: translateY(-3px);
    }

    /* SECTION */

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .texto-header {
        background: black;
        font-weight: 700;
    }

    header h1 {
        font-weight: 800;
        font-size: 70px;
        text-align: center;
    }

    header h2 {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 80px;
    }

    label {
        font-weight: 600;
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .input-main {
        width: 100%;
        height: 30px;
        border-radius: 10px;
        border: none;
        padding: 10px;
        font-size: 20px;
        margin-top: 5px;
        background: #FFFFFFE5;
;
    }

    #interesse {
        margin: 30px 0px 30px 0px;
        font-size: 20px;
    }

    .checkbox-main {
        margin: 20px 20px 0px 50px;
        transform: scale(1.7);
    }

    form button {
        background: var(--azul-dnc);
        border: none;
        width: 100%;
        height: 40px;
        border-radius: 10px;
        margin: 30px 0px 0px 10px;
        font-size: larger;
        font-weight: 600;
        cursor: pointer;
        color: var(--branco-font);
        box-shadow: 0px 6px 4px 0px #0C70F240;
    }

    form button:hover {
        transform: translateY(-2px);
        background-color: #a1c2ec;
        color: var(--preto-dnc);
    }

